.menu{
    background-color: black;
}
.imageLinks a{
    border-style: solid;
    border-color: grey;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-right:800px;
    padding-left: 100px
    
}